@font-face {
  font-family: "Determination";
  src: url("/fonts/DTM-Sans.otf") format("opentype");
}

#main_container{
	background-color: black;
}

#intro{
	border-color: white;
}
#greeting{
	border: 5px solid white;
	text-align: left;
	font-family: "Determination";
	color: white;
}
#socials input{
	height: 50px;
	width: 50px;
	margin: 20px;
}