html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


.dotmap{
    width:960px;
    overflow:hidden;
    .rows{
        &:after{
            content:"";
            display: table;
            clear:both;
        }
    }
}
/*dot style*/
.dot{
    float:left;
    display:inline-block;
    border-radius:100%;
    width:10px;
    height:10px;
    background:#ccc;
    margin:2px;
}

/*colour groups*/
.water{background:#C5EFF7;}
.north-america{background:#90C695;}
.south-america{background:#E26A6A;}
.europe{background:#BE90D4;}
.africa{background:#FDE3A7;}
.asia{background:#F4B350;}
.australia{background:#1E824C;}
.selectable{background:black;}

/*Current selectables are:
r16d54 - China
r31d37 - South Africa
r17d18 - US
r13d32 - UK
r15d33 - Paris
r19d42 - Dubai/Middle East
*/

.map_container{
    max-width: 960px;
    background-color: white;
}

@font-face {
    font-family: 'minecraft';
    src: url('../font/Minecraft.ttf') format("truetype");
}

.minecraft_text{
    text-align: center;
    font-family: minecraft;
    font-weight:bold;
}

.minecraft_banner{
    margin: 20px 0px 0px 0px;
    padding: 0;
    min-width: 960px;
}

@keyframes banner {
  0%   { font-size: 150%; }
  /*50% { font-size: 175%; }*/
  100%   { font-size: 170%; }
}

#banner{
    font-size:150%;
    /*animation: banner 0.75s infinite;*/
}

#map_row{
    background-color:#D3BF99;
    min-width: 960px
}
